// Main Colors
$color_1 : #3498db;
$color_2 : #2ecc71;
$color_3 : #1abc9c;
$color_4 : #9b59b6;

$black : #2c3e50;
$white: #fff;

// Main Font
$font1:  "Roboto", Arial, Tahoma, sans-serif;
$font2:  "Merriweather", Georgia, serif;

// Font Icon
$font_icon:  "Fontawesome";

// Button Colors
$btn_1_color1 : #598fdd;

// Section Padding
$section_padding : 100px 0;
$section_mobile_padding: 80px 0;