// Input
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="time"] {
    padding: 12px 15px 12px 25px;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #eee;
    outline: 0;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle;
    @include shift(all, .1s, linear);

    @include placeholder {
        color: #777;
    }

    &:focus {
        border: 2px solid #000;
    }
}

textarea {
    padding: 12px 15px 12px 25px;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #eee;
    outline: 0;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle;
    @include shift(all, .1s, linear);

    &:focus {
        border: 2px solid #000;
    }

    @include placeholder {
        color: #777;
    }
}

input[type="submit"] {
    font-weight: 700;
    font-size: 14px;
    padding: 12px 25px;
    border-radius: 3px;
    background-color: $black;
    color: #fff;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.5;
    user-select: none;
    display: block;
    margin: 0;
    cursor: pointer;
    border: 0;
    @include shift(all, .2s, linear);

    &:hover {
        background-color: #ccc;
    }
}

.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
