#td_breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }

    .separator {
        font-size: 12px;
        color: #ecf0f1;
    }
    
    .bread-home,
    .item-cat a {
        color: #ecf0f1;
        text-decoration: none;
        @include shift(all, .2s, linear);
        
        &:hover {
            color: #fff;
        }
    }
    
    .bread-current {
        color: #999;
        font-weight: normal;
        display: none;
    }
}
